<div class="header-wr">

  <section class="header content-wr">
    <a class="header-logo" href="index.html"></a>
    <nav class="main-nav">
      <ul>
        <li><a class="index" href="index.html">Главная</a></li>
        <li><a class="header-nav-shares" href="shares.html">Акции</a></li>
        <li><a class="responses-nav" href="responses.html">Готовые проекты</a></li>
        <li><a class="header-nav-about" href="about.html">О компании</a></li>
        <li><a class="contacts-nav" href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
    <div class="header-contacts">
      <p class="tel">+7 (922) <span>157 42 14</span></p>
      <p class="tel">+7 (922) <span>223 21 62</span></p>
    </div>
</section>

</div>